@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@rendermode InteractiveAuto

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
    @context.User.Identity.AuthenticationType
    @string.Join(",", context.User.Claims)
    @foreach(var identity in context.User.Identities)
    {
        @identity.Actor
        @identity.AuthenticationType
        @identity.RoleClaimType
        @identity.Label
        @identity.Name
    }
    Here you will be able to manage your platlists.
</AuthorizeView>
